<div class="clip_card" [appBorderByDate]="clip.snippet.publishedAt">
  <div>
    <img [src]="clip.snippet.thumbnails.medium.url" class="card_image">
  </div>
  <div class="clip_statistics">
    <span class="statistics_info">
      <i class="material-icons dp48">remove_red_eye</i>
      <span class="statistics_info_text">{{clip.statistics.viewCount}}</span>
    </span>
    <span class="statistics_info">
      <i class="material-icons dp48">favorite</i>
      <span class="statistics_info_text">{{clip.statistics.likeCount}}</span>
    </span>
    <span class="statistics_info">
      <i class="material-icons dp48">favorite_border</i>
      <span class="statistics_info_text">{{clip.statistics.dislikeCount}}</span>
    </span>
    <span class="statistics_info">
      <i class="material-icons dp48">comment</i>
      <span class="statistics_info_text">{{clip.statistics.commentCount}}</span>
    </span>
  </div>
  <div class="clip_title">
    <h6>{{clip.snippet.title}}</h6>
    <button
      class="btn waves-effect teal darken-4 center"
      type="button"
    >
      More info
    </button>
  </div>
</div>
