<div class="search_container">
  <div class="search_input_container">
    <form [formGroup]="searchForm">
      <mat-form-field [ngClass]="'search-input'">
        <input
          formControlName="inputValue"
          id="search_input"
          matInput
          placeholder="What do you want to find out?"
          type="text"
        />
      </mat-form-field>
      <div class="additional_settings_button">
        <i (click)="showSettings()" class="material-icons dp48">settings</i>
      </div>
    </form>
  </div>
  <app-user></app-user>
</div>
<div class="search_settings_container">
  <app-search-settings *ngIf="isSettings" [clipInfo]="clipInfo"></app-search-settings>
</div>

