::ng-deep {
  app-search {
    width: 100%;
  }

  app-user {
    position: absolute;
    top: 30px;
    right: 20px;
  }
}

.login-wrapper,
.registration-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  box-shadow: 0 0 20px #000;
  border-radius: 5%;
}

.login-container {
  width: 80%;
}

.registration-wrapper {
  height: 380px;
}

.input-field label {
  font-size: 1.4em;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -15%, 0);;
    transform: translate3d(0, -15%, 0);;
  }
}

.registration-link,
.sort_parameters_link {
  padding: 0 10px;
}

.registration-link:hover,
.sort_parameters_link:hover {
  text-decoration: underline;
  cursor: pointer;
}
