<div class="additional_settings_container">
  <form [formGroup]="filterForm">
    <ul> Sorting by:
      <li (click)="sortClips(sortTypes.ByDate)">
        <a class="sort_parameters_link">Date</a>
      </li>
      <li (click)="sortClips(sortTypes.ByViews)">
        <a class="sort_parameters_link">Count of views</a>
      </li>
      <li>by word or sentence</li>
      <li>
        <input
            placeholder="Placeholder"
            id="sort_by_word"
            type="text"
            class="validate"
            formControlName="filterValue"
            (input)="sortClips(sortTypes.ByTitle)"
        />
      </li>
    </ul>
  </form>
</div>
